gunicorn==20.1.0
eventlet==0.30.2
ffmpeg
flask
flask-socketio
flask-cors
google-api-python-client
google-cloud-speech
google-cloud-storage
librosa
opencv-python-headless
pyaudio
webrtcvad
